.page-header {
  position: relative;
  background-color: var(--primary-white);
  border-bottom: 1px solid var(--header-border-color);
}

.page-header__container,
.navigation {
  display: flex;
  align-items: center;
  
  @media screen and  (max-width:767px) {
  max-width: 450px;
  flex-grow: 1;
 }
}

